# Config Provider
provider-username    = "<Insert Username>"
provider-password    = "<Insert Password>"
provider-endpoint    = "<10.0.0.1>"
provider-is-insecure = true

# Config VM
app-count-vm           = 1
bdd-count-vm = 1
app-vm-name            = "cytech-ethan-app"
bdd-vm-name = "cytech-ethan-bdd"
node-name          = "proxmox2"
pool-id            = "terraform"
my-pool-id         = "ethan-pool"
username           = "ethan"
password           = "<Insert Password>"
ram-app               = 1024
ram-bdd = 2048
core               = 1
cpu-type           = "x86-64-v2-AES"
core-type          = "x86-64-v2-AES"
is-stop-on-destroy = true
user-data-path = "user-data.yaml"

# Datastore
datastore-name      = "local-lvm"
datastore-interface = "virtio0"
datastore-size      = 20
datastore-id        = "local"
iso-path            = "jammy-server-cloudimg-amd64.img"

# Network
bridge               = "vmbr0"
gateway              = "10.0.0.1"
public-ssh-key-path  = "<Insert Public-Key Path>"
private-ssh-key-path = "<Insert Private-Key Path>"
app-ip-addresses       = ["10.0.0.1/24"]
bdd-ip-addresses =  ["10.0.0.2/24"]
connection-type      = "ssh"
timeout              = "5m"
app-last-digits-ip       = 1
default-id           = 1000
bdd-last-digits-ip       = 2