from flask import Flask
import psycopg2

app = Flask(__name__)

@app.route('/')
def index():
    try:
        conn = psycopg2.connect(
            host="{{ hostvars['cytech-ethan-bdd']['ansible_host'] }}",
            database="cytech",
            user="cytech_usr",
            password="ton_password_secret"
        )
        cur = conn.cursor()
        cur.execute("SELECT name FROM cytech_usr LIMIT 1;")
        name = cur.fetchone()[0]
        cur.close()
        conn.close()
        return f"<h1>Hello {name}</h1>"
    except Exception as e:
        return f"Erreur de connexion : {str(e)}"

if __name__ == '__main__':
    app.run(host='0.0.0.0', port=8080)